.add-rest-of-patient-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 200%;
}

.add-rest-of-patient-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group p, .form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input {
  margin-top: 5px;
}

.submit-button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color:  #66bb6a;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #4caf50;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.loading {
  color: #666;
  font-style: italic;
}
