.side-navigation {
  width: 10%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f4f4f4;
  padding-top: 15%; /* השארת מקום לכותרת */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  text-align: right;
}

.side-navigation ul {
  list-style-type: none;
  padding: 0;
}

.side-navigation li {
  padding: 10px 20px;
  text-align: right; /* יישור לימין עבור כל הרשימה */
}

.side-navigation li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  display: inline-block; /* שימוש ב-inline-block במקום flex */
  width: 100%;
  text-align: right; /* יישור טקסט לימין */
  direction: rtl; /* כיוון מימין לשמאל */
}

.side-navigation li a:hover {
  color: #66bb6a;
}

.icon {
  margin-left: 10px; /* רווח בין האייקון לכיתוב */
  font-size: 1.2em;
  float: right; /* יישור האייקון לימין */
}
