.calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    width: 100vw;            
    margin: auto; 
    position: relative;       
}

.add-appointment-btn-bottom {
    display: flex;
    
    justify-content: center;
    margin-right: 30%;
    z-index: 1;
}


.rbc-calendar {
    width: 80%;              
    max-width: 100%;         
    height: 60%;             
}

@media (max-width: 768px) {
    .calendar-container {
        height: 500px; 
    }
    .add-patient-btn {
        width: 100%;
        justify-content: center; /* למרכז הכפתור במסכים קטנים */
    }
}


.add-appointment-overlay {
    position: fixed; /* מיקום קבוע בעמוד */
    bottom: 20px; /* מרחק 20 פיקסלים מתחתית העמוד */
    right: 20px;  /* הכפתור ממוקם 20 פיקסלים מימין */
    z-index: 10;  /* קביעת שכבת זיהוי גבוהה יותר */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28a745; /* צבע ירוק */
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.add-appointment-overlay button {
    background-color: transparent;
    color: white;
    border: none;
    display: flex;
    align-items: center;
}

.add-appointment-overlay button:hover {
    background-color: #218838; /* צבע ירוק כהה יותר כשמעבירים עכבר */
}

.add-appointment-overlay svg {
    margin-right: 10px; /* מרווח בין אייקון הפלוס לטקסט */
}
